<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="DEFAULT-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>wdas-epa-default.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>wdas-epa-default.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level ="TRACE">
        <appender-ref ref="DEFAULT-FILE"/>
    </root>
</configuration>
